# Python cache
__pycache__/
*.pyc
*.py[cod]
*$py.class
*.so

# Binary / raw large files
*.bin

# Virtual environments
.Python
.pythonlibs/
.venv/
venv/
env/

# Build
build/
dist/
*.egg-info/
*.egg

# Output
output_images/

# Logs
*.log

# Environment
.env
